Please install dependencies below before running code

## For Disentangling and Image Generation Applications, please install
python 3.6.4
pytorch 0.4.0
visdom
tqdm
matplotlib
tensorboard

## For Text Generation, please install the Texas pytorch on the website https://github.com/asyml/texar-pytorch.git

python == 3.6 or 3.7
torch >= 1.0.0
pip install texar-pytorch


## For NeuralDialog SW data
TensorFlow 1.3.0
cuDNN 6
Python 2.7
Numpy
NLTK
pip install beeprint
pip install tensorboard

